/* Custom CSS CMS */
.remove_image {
    position: absolute;
    right: 10%;
    top: 5%;
}
.remove_image i {
    font-size: 20px;
}
#preview_thumbnail {
    width: 100%;
}
.kt-aside__brand-logo img {max-width: 100%;}
.fancybox-content {max-height: 100%;}