html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

button,
input,
select {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

@font-face {
    font-family: 'Glyphicons Halflings';
    font-display: swap;
    src: url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://static.8cache.com/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-search:before {
    content: "\e003"
}

.glyphicon-cog:before {
    content: "\e019"
}

.glyphicon-list:before {
    content: "\e056"
}

.glyphicon-chevron-right:before {
    content: "\e080"
}

.glyphicon-fire:before {
    content: "\e104"
}

.glyphicon-menu-right:before {
    content: "\e258"
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #428bca;
    text-decoration: none
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

h1,
h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

.text-center {
    text-align: center
}

.text-info {
    color: #31708f
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-sm-2,
.col-md-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-md-4,
.col-sm-5,
.col-md-5,
.col-xs-6,
.col-sm-6,
.col-md-7,
.col-md-8,
.col-xs-9,
.col-xs-12,
.col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-3,
.col-xs-6,
.col-xs-9,
.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-9 {
    width: 75%
}

.col-xs-6 {
    width: 50%
}

.col-xs-3 {
    width: 25%
}

@media (min-width:768px) {
    .col-sm-2,
    .col-sm-3,
    .col-sm-5,
    .col-sm-6,
    .col-sm-12 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
}

@media (min-width:992px) {
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-7,
    .col-md-8 {
        float: left
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::-webkit-input-placeholder {
    color: #777
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

input[type="search"] {
    -webkit-appearance: none
}

.form-group {
    margin-bottom: 15px
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.form-group-sm select.form-control {
    height: 30px;
    line-height: 30px
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px
}

@media (min-width:768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
}

@media (min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.collapse {
    display: none
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

.input-group-btn,
.input-group .form-control {
    display: table-cell
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

.input-group-btn:last-child>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn>.btn {
    position: relative
}

.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -1px
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

@media (min-width:992px) {
    .navbar {
        border-radius: 4px
    }
}

@media (min-width:992px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch
}

@media (min-width:992px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
    .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.container>.navbar-header,
.container>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:992px) {
    .container>.navbar-header,
    .container>.navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width:992px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width:992px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (min-width:992px) {
    .navbar-nav {
        float: left;
        margin: 0
    }
    .navbar-nav>li {
        float: left
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto
    }
    .navbar-form .input-group>.form-control {
        width: 100%
    }
}

@media (min-width:992px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

@media (min-width:992px) {
    .navbar-right {
        float: right!important;
        margin-right: -15px
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0
}

.container:before,
.container:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table
}

.container:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
    clear: both
}

.hide {
    display: none!important
}

@-ms-viewport {
    width: device-width
}

.visible-md-block,
.visible-lg-block {
    display: none!important
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block!important
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block!important
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

.navbar {
    min-height: 0
}

.navbar-nav {
    font-family: 'Roboto Condensed', sans-serif
}

.navbar-default {
    background-color: #ECECEC;
    border-color: #ECECEC
}

html,
body {
    height: 100%
}

body {
    background: url(../static.8cache.com/img/bg.jpg) top center repeat-x #F4F4F4;
    color: #4E4E4E
}

* {
    margin: 0
}

a {
    color: #4E4E4E
}

.form-control {
    box-shadow: none
}

.form-control {
    box-shadow: none
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline-block
}

#wrap {
    min-height: 100%;
    min-height: calc(100% - 117px);
    height: auto!important;
    height: 100%
}

.navbar-default {
    background-color: #14425d;
    background-position-x: -50px;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3)
}

.navbar-default .navbar-nav>li>a {
    color: #f2f2f2
}

.navbar-breadcrumb {
    background: #ECECEC;
    border-top: 1px solid #476171
}

.settings .form-horizontal .form-group-sm .control-label {
    font-weight: normal
}

.search-holder .form-control {
    height: 32px;
    padding: 5px 10px;
    border-right: 0;
    border-radius: 0
}

.search-holder>.input-group-btn>.btn {
    padding: 5px 10px;
    border-left: 0;
    border-radius: 0
}

.breadcrumb-container {
    height: 30px;
    line-height: 30px;
    color: #4E4E4E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto Condensed', Tahoma, sans-serif
}

.header-logo {
    display: block;
    width: 196px;
    height: 36px;
    background: url(//static.8cache.com/img/spriteimg_new_white_op.png) no-repeat 0 0;
    text-indent: -9999px;
    white-space: nowrap;
    outline: none;
    margin: 5px 5px 0 0
}

.multi-column {
    width: 409px
}

.navbar-nav>li>.dropdown-menu {
    background-color: #2f566d
}

.multi-column .dropdown-menu {
    display: block!important;
    position: static!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    box-shadow: none!important;
    min-width: 95px;
    max-width: 106px;
    background-color: transparent
}

.dropdown-menu>li>a {
    padding: 6px 15px;
    font-size: 15px
}

.list-search-res {
    margin-top: 3px;
    position: absolute;
    width: 235px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 10px #ABABAB
}

.list {
    display: table;
    text-align: left
}

.list h3 {
    display: inline
}

.col-truyen-main {
    padding: 0
}

.col-truyen-side .list {
    background-color: #ecf0f1;
    border: 1px solid #D9E1E4
}

.list>.row {
    display: table-row;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    font-size: 15px
}

.col-truyen-side .list>.row {
    background-color: #ecf0f1
}

.title-list>h2,
.title-list>h4 {
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #4E4E4E
}

.title-list span.glyphicon {
    font-size: 16px;
    line-height: 42px;
    vertical-align: top;
    margin-left: 3px
}

.list>.row>div {
    height: 40px;
    line-height: 40px;
    border-left: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    overflow: hidden
}

.list>.row:last-child>div {
    border-bottom: 0!important
}

.list-cat>.row {
    font-size: 16px
}

.col-truyen-side .list.list-cat>.row>div {
    height: 30px!important;
    line-height: 35px!important;
    border: 0!important;
    padding-left: 20px!important
}

.col-truyen-side .list.list-cat>.row>div:nth-child(odd) {
    padding-left: 40px!important
}

.list>.row>div:first-child {
    border-left: 0;
    padding-left: 0
}

.list .glyphicon-chevron-right {
    font-size: 12px;
    color: #8E8C8C
}

.list>.row>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.col-truyen-side .list>.row>div {
    max-width: 270px;
    padding: 0
}

.title-list {
    text-align: left;
    height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #CCC;
    position: relative
}

.settings {
    padding: 10px;
    width: 300px
}

.label-title {
    padding: 1px 3px;
    font-size: 13px;
    vertical-align: bottom;
    margin-left: 5px
}

.label-full {
    border: 1px solid #86ad86;
    color: #86ad86
}

.label-hot {
    border: 1px solid #FD8383;
    color: #FD8383
}

.label-new {
    border: 1px solid #8EB3FD;
    color: #8EB3FD
}

.label-full:before {
    content: "Full"
}

.label-hot:before {
    content: "Hot"
}

.label-new:before {
    content: "New"
}

.text-info a {
    color: #31708f
}

.new-select {
    line-height: 40px;
    height: 40px;
    width: initial;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    text-transform: uppercase;
    background-color: transparent
}

.new-select {
    font-size: 20px!important;
    color: #4E4E4E;
    border-color: transparent;
    border-bottom-color: #4E4E4E;
    border: 1px solid;
    background: #f4f4f4
}

#intro-index .new-select {
    background: #d2d2d2
}

#intro-index {
    margin-bottom: 15px;
    height: 448px;
    overflow: hidden
}

.index-intro .item {
    float: left;
    margin: 12px 0 0 12px;
    height: 192px;
    width: 129px;
    position: relative
}

.index-intro .item.top-1 {
    margin-left: 15px;
    height: 396px;
    width: 265px
}

.index-intro div.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
    text-shadow: 1px 2px 2px #000;
    font-size: 12px;
    display: block;
    margin-top: 2px;
    text-align: center;
    font-family: 'Roboto Condensed', Tahoma, sans-serif
}

.item.top-1 div.title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFFC57
}

.index-intro .item .item-img {
    box-shadow: 0 1px 2px #B5B5B5;
    width: 129px;
    height: 192px
}

.index-intro .item.top-1 .item-img {
    width: 265px;
    height: 396px
}

.full-label {
    width: 34px;
    height: 50px;
    position: absolute;
    display: block;
    margin: 140px 0 0 -7px;
    z-index: 1;
    background: transparent url(//static.8cache.com/img/full-label.png) no-repeat
}

.top-1 .full-label {
    margin-top: 305px
}

#list-index {
    position: relative
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: url(//static.8cache.com/font/RobotoCondensed-Regular.eot);
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(//static.8cache.com/font/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(//static.8cache.com/font/RobotoCondensed-Regular.woff) format('woff')
}

@media all and (-webkit-min-device-pixel-ratio:0) and (max-width:480px) {
    .form-control {
        font-size: 16px!important
    }
}

@media all and (min-width:768px) {
    .settings .form-horizontal .form-group-sm .control-label {
        font-size: 14px
    }
    .col-cat {
        width: 27.5%
    }
    .col-chap {
        width: 22.5%
    }
    .form-control {
        font-size: 14px
    }
}

@media all and (min-width:992px) {
    .multi-column .dropdown-menu {
        max-width: 106px
    }
    .dropdown-menu>li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    #list-index {
        min-height: 900px
    }
    .col-cat {
        width: 23%
    }
    .col-chap {
        width: 18.66666667%
    }
    .col-truyen-main {
        width: 73%
    }
    #list-index .col-truyen-side {
        top: 0;
        right: 0;
        position: absolute
    }
    .col-truyen-side {
        width: 27%;
        padding: 0 0 0 7.5px
    }
    .col-truyen-side .list.list-truyen {
        margin: 10px 0;
        padding-right: 14px;
        padding-left: 14px
    }
}

@media all and (min-width:1025px) {
    .list {
        border: 0
    }
    .list .glyphicon-chevron-right {
        font-size: 14px
    }
    #list-index .list h3 a {
        font-size: 16px
    }
}

@media all and (min-width:1200px) {
    .col-title {
        width: 44.16666667%
    }
    .col-cat {
        width: 22.5%
    }
    .col-chap {
        width: 19.66666667%
    }
    .col-time {
        width: 13.66666667%
    }
}

@media all and (max-width:1024px) {
    .col-truyen-side .list.list-truyen {
        padding: 0
    }
}

@media all and (max-width:991px) {
    #intro-index {
        height: auto
    }
    .index-intro .item.top-1 {
        margin-left: 3%;
        height: auto;
        width: 21%
    }
    .index-intro .top-13 {
        display: none
    }
    .index-intro .top-5,
    .index-intro .top-9 {
        clear: left
    }
    .index-intro .item {
        margin: 2% 0 0 3%;
        height: auto;
        width: 21%
    }
    .index-intro .item .item-img,
    .index-intro .item.top-1 .item-img {
        width: 100%;
        height: 100%
    }
    .dark-theme .index-intro .item .item-img,
    .dark-theme .list-thumbnail img {
        box-shadow: 0 1px 2px #000
    }
    .item.top-1 div.title {
        padding: 5px 0;
        font-size: 12px
    }
    .full-label {
        bottom: 15%;
        background-size: 80% 80%;
        margin-left: -5px
    }
}

@media all and (max-width:480px) {
    #wrap {
        min-height: calc(100% - 43.5px)
    }
    .list>.row>div,
    .title-list>h2,
    .title-list>h4 {
        padding: 0 5px!important
    }
    .container {
        padding: 0
    }
    .container>.row {
        margin: 0
    }
    .header-logo {
        margin-left: 20px
    }
    .navbar-collapse,
    .navbar-header {
        margin-right: 0!important;
        margin-left: 0!important
    }
    .breadcrumb-container {
        padding: 0 5px
    }
    .book-text span {
        display: none
    }
    .book-text:before {
        display: inline;
        content: "Q"
    }
    .chapter-text span {
        display: none
    }
    .chapter-text:before {
        display: inline;
        content: "C"
    }
    .col-title {
        max-width: 280px
    }
}

@media all and (max-width:320px) {
    .col-title {
        max-width: 240px
    }
}

@media all and (device-width:768px) {
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0
    }
}

.dark-theme {
    background-image: url(https://static.8cache.com/img/bg_dark.gif);
    background-color: #232323;
    background-repeat: repeat;
    color: rgba(255, 255, 255, 0.6)
}

.dark-theme img {
    opacity: 0.9
}

.dark-theme a {
    color: #b1b1b1
}

.dark-theme .navbar-default {
    background: #242F39;
    border-bottom-color: #242F39;
    box-shadow: 0 0 1px rgba(10, 10, 10, 0.4)
}

.dark-theme .navbar-breadcrumb {
    background: #2E3740;
    border-top: 0
}

.dark-theme .breadcrumb-container {
    color: #b1b1b1
}

.dark-theme .col-truyen-side .list {
    background-color: inherit;
    border: inherit
}

.dark-theme .list>.row,
.dark-theme .col-truyen-side .list>.row {
    background-color: inherit
}

.dark-theme .list>.row:nth-child(2n),
.dark-theme .col-truyen-side .list>.row:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.04)
}

.dark-theme .list>.row>div {
    border-left: 0;
    border-bottom: 0
}

.dark-theme .title-list,
.dark-theme .title-list>h2,
.dark-theme .title-list>h4 {
    border-bottom: 0
}

.dark-theme .title-list>h2,
.dark-theme .title-list>h4,
.dark-theme .title-list>a,
.dark-theme .title-list>h2>a {
    color: white;
    text-shadow: 1px 1px 2px black
}

.dark-theme .text-info a {
    color: #A9CF54
}

.dark-theme .new-select,
.dark-theme #intro-index .new-select {
    background-color: #2d3741;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4)
}

.dark-theme .new-select {
    line-height: 34px;
    height: 34px;
    border: 0;
    color: white
}

.dark-theme .search-holder>.input-group-btn>.btn {
    border: 1px solid;
    margin-left: 2px
}

.dark-theme .search-holder .form-control,
.dark-theme .list-search-res,
.dark-theme .form-control {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background: #1C242D;
    border: 1px solid #192128;
    color: white
}

.dark-theme .list-search-res {
    border-color: #555;
    box-shadow: 0 2px 10px #222
}

.dark-theme .search-holder>.input-group-btn>.btn {
    color: #92bb35;
    border-color: #92bb35;
    text-shadow: 1px 1px 0 rgba(10, 10, 10, 0.4);
    background: rgba(10, 10, 10, 0.15)
}

.dark-theme .btn {
    color: #A9A9A9;
    background: #121212
}

@media only screen and (min-width:1025px) {
    .dark-theme .index-intro .item .item-img {
        -webkit-box-shadow: 0 1px 2px #000;
        box-shadow: 0 1px 2px #000
    }
}